# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/expat_tax

# Web
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000

# API
PORT=4000
WEB_ORIGIN=http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379
PDF_OUTPUT_DIR=./storage/pdfs
